certifi==2021.10.8
charset-normalizer==2.0.9
docopt==0.6.2
idna==3.3
prompt-toolkit==3.0.24
pyflakes==2.4.0
Pygments==2.10.0
pyvim==3.0.2
pyvmomi==7.0.3
requests==2.26.0
six==1.16.0
urllib3==1.26.7
wcwidth==0.2.5
